@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Consultar CNPJ</h1>
    <input type="text" id="inputConsulta" />  
    <button id="btnPesquisar">Pesquisar</button>
</div>

    <div id="Nome" class="text-center"> 
       <label >Nome: </label>
    <input type="text" id="inputName" />
     </div>

     <div id="Uf" class="text-center"> 
       <label>Uf: </label>
    <input type="text" id="inputUf"/>
     </div>

     <div id="Telefone" class="text-center"> 
       <label>Telefone: </label>
    <input type="text" id="inputTelefone" />
     </div>

     <div id="Email" class="text-center"> 
       <label>Email: </label>
    <input type="text" id="inputEmail" />
     </div>

     <div id="Situacao" class="text-center"> 
       <label>Situação: </label>
    <input type="text" id="inputSituacao"/>
     </div>


<div class="text-center">
    <button id="btnSalvarEmpresa">Salvar Empresa</button>
</div>